@import 'colorscheme';

.ui.container {
  max-width: 600px !important;
  text-align: center;

  h1.ui.header {
    margin-top: 1rem;
    color: $red;
  }

  i {
    color: $brown;
  }

  .ui.grid {
    margin-top: 1rem;
  }

  .ui.input {
    width: 100%;
  }

  .button {
    height: 100%;
  }

  .item {
    text-align: left;

    color: #000;

    &:hover .content .header {
      color: $red !important;
      font-size: 1.5rem;
    }
  }
}
